.my-barOne {
    background: #2222221c;
}

.my-breadcrumb {
    padding-left: 20px;
    margin: 2px;
}

.my-photo {
    max-width: 70%;
    max-height: 70%;
    border-radius: 100px;
}

.my-topbar {
    background: #ffffff;
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.05);
}

.my-barcmd {
    text-transform: none;
    color: #666;
}

.my-barcmd-li>*>:first-child {
    display: list-item;
    font-size: 15px;
}
